*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url(./imgs/bg.jpg);
}

/* _____________NAVIGATION MENU_____________*/

nav{
  display: flex;
  justify-content:space-between;
  align-items: center;
  min-height: 7vh;
  font-family: 'Tajawal', sans-serif;
  background-color: rgba(50,50,50,0.8);
}


/* LOGO */
.logo{
  color: #dfd9d8;
  letter-spacing: 5px;
  font-size: calc(1.4rem - 0.4vw);
  margin-left: 10%;
}

/* MENU BUTTON */
.nav-btn div{
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 5px;
  border-radius: 50px;
}

/* _____________END OF NAVIGATION MENU _____________*/


/* _____________MAIN MENU____________ */


/* MENU CONTAINER */
.menu-container{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, black, grey);
  clip-path: circle(0%);
  transition: clip-path 1s;
  z-index: -1;
  opacity: 0.8;
}

/* CHECK BUTTON BEHIND NAV BUTTON */
.ifcheck{
  position: absolute;
  right: 0;
  opacity: 0;
  height: 40px;
  width: 40px;
}

.ifcheck:hover{
  cursor: pointer;
}

/* OPEN MENU WHEN CHECK BUTTON IS CHECKED */
.ifcheck:checked ~ .menu-container{
  clip-path: circle(100%);
}


/* MENU LIST  */
.menu{
  position: absolute;
  top: 45%;
  left: 45%;
  list-style: none;
  text-align: center;
  margin: auto;
}

/* MENU LIST ITEMS */
.menu li{
  margin: 20px 0;
}

/* MENU LINKS */
.menu a{
  font-size: 33px;
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
  font-weight: bolder;
  text-shadow: 2px 2px 4px #000000;
}

/* MENU LINKS HOVER */
.menu a:hover{
  cursor: url("./imgs/bomb.png"),auto;
  background: -webkit-linear-gradient(pink , black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* MENU LINKS ACTIVE */
.menu a:active{
  color: #4b1d13;
  cursor: url("./imgs/explode.png"),auto;
}

/* _____________END OF MAIN MENU____________ */


/* _____________RESPOOONSIVE SCREEENS______________ */


@media screen and (max-width: 1024px) {

  /* MENU BUTTON */
  .nav-btn div{
   width: 35px;
  }

  /* HIDDEN CHECKBOX */
  .ifcheck{
    width: 40px;
    height: 40px;
  }

}

@media screen and (max-width: 950px) {

  /* HIDDEN CHECKBOX */
  .ifcheck{
    width: 60px;
    height: 60px;
  }

}


@media screen and (max-width: 650px) {

  /* MENU BUTTON */
  .nav-btn div{
   width: 30px;
   margin: 5px;
  }

  /* HIDDEN CHECKBOX */
  .ifcheck{
    width: 80px;
    height: 80px;
  }


}

@media screen and (max-width: 480px) {

 /* HIDDEN CHECKBOX */
 .ifcheck{
   width: 100px;
   height: 100px;
 }

}

/* _____________END OF RESPOOONSIVE SCREEENS______________ */
